<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GPA_importer</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/-Login-form-Page-BS4-.css">
    <link rel="stylesheet" href="assets/css/Articale-List-With-Image-Zoom.css">
    <link rel="stylesheet" href="assets/css/Article-Cards.css">
    <link rel="stylesheet" href="assets/css/Article-Clean.css">
    <link rel="stylesheet" href="assets/css/Bold-BS4-Footer-Big-Logo.css">
    <link rel="stylesheet" href="assets/css/Burger-Menu-1.css">
    <link rel="stylesheet" href="assets/css/Burger-Menu.css">
    <link rel="stylesheet" href="assets/css/Button-modal-ecommerce-1.css">
    <link rel="stylesheet" href="assets/css/Button-modal-ecommerce.css">
    <link rel="stylesheet" href="assets/css/Circle-Nav.css">
    <link rel="stylesheet" href="assets/css/Company-desc---img-on-right-1.css">
    <link rel="stylesheet" href="assets/css/Company-desc---img-on-right.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Button-Change-Text-on-Hover.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-v2-Modal--Full-with-Google-Map.css">
    <link rel="stylesheet" href="assets/css/Corporate-Footer-Clean.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Map-Clean.css">
    <link rel="stylesheet" href="assets/css/Navbar---Apple-1.css">
    <link rel="stylesheet" href="assets/css/Navbar---Apple.css">
    <link rel="stylesheet" href="assets/css/Navbar---Logo-Left---Phone-Logo-Left.css">
    <link rel="stylesheet" href="assets/css/Navigation-Menu.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Team-Boxed.css">
    <link rel="stylesheet" href="assets/css/Top--Right--Left-Navigation-by-Jigar-Mistry.css">
</head>

<body>
<div class="container">
    <nav class="navbar navbar-light navbar-expand-xl" style="height: 70px;">
        <div class="container-fluid"><a class="navbar-brand" href="#"><img class="img-fluid ي" src="assets/img/index.png" style="width: 140px;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mx-auto" style="font-size: 15px;">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Home</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Mitgelied</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Professoren</a><a class="dropdown-item" role="presentation" href="#">Mitarbeiter</a><a class="dropdown-item" role="presentation" href="#">Doktoranden</a><a class="dropdown-item"
                                                                                                                                                                                                                                                                                 role="presentation" href="#">Assistenten<br></a></div>
                    </li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Aktuelles</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Projekte</a><a class="dropdown-item" role="presentation" href="#">Lehrveranstaltungen</a><a class="dropdown-item" role="presentation" href="#">Publikationen</a></div>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Kontakt uns</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Impressum</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <app-contact-us></app-contact-us>
</div>

<footer id="myFooter">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12 col-sm-6 col-md-3">
                <h1 class="logo" style="margin-top:30px;"><a href="#">Hochschule Flensburg</a></h1>
            </div>
            <div class="col-12 col-sm-6 col-md-2">
                <h5>Get started</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Downloads<br></a></li>
                    <li><a href="#">Sign Up</a></li>
                    <li><a href="#">Other Links</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-2">
                <h5>Our Company</h5>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Company Information<br></a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-2">
                <h5>Support</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help Desk<br></a></li>
                    <li><a href="#">Forums</a></li>
                    <li><a href="#">External Links</a></li>
                </ul>
            </div>
            <div class="col-md-3 social-networks">
                <div></div><a class="facebook" href="#"><i class="fa fa-facebook"></i></a><a class="twitter" href="#"><i class="fa fa-twitter"></i></a><a class="google" href="#"><i class="fa fa-google-plus"></i></a><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                <button
                        class="btn btn-primary" style="margin-top:20px;" type="button">Contact us</button>
            </div>
        </div>
        <div class="row footer-copyright">
            <div class="col">
                <p>© 2019 Copyright Text ~ Designed By&nbsp;<a href="#">MySelf</a></p>
            </div>
        </div>
    </div>
</footer>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/Burger-Menu.js"></script>
<script src="assets/js/Button-modal-ecommerce.js"></script>
<script src="assets/js/Circle-Nav.js"></script>
<script src="assets/js/Contact-Form-v2-Modal--Full-with-Google-Map.js"></script>
<script src="assets/js/Navbar---Apple.js"></script>
</body>

</html>
